<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--Get your own code at fontawesome.com-->
</head>

<body>

<p class="my_footer">
    Copyright &copy Nicolás Cachanosky | 
    <a href="https://www.getrevue.co/profile/n_cachanosky" target="_blank"><i class="fas fa-envelope"></i> Subscribe to email updates</a> | 
    <a href="http://economic-order.netlify.com/index.xml"><i class="fas fa-rss"></i> RSS feed</a>
</p>

</body>
</html>

